.hero__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  z-index: 9;
}
.hero__container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 19, 19, 0.801);
  z-index: -1;
}
.hero__subTitle {
  font-size: 2rem;
}
.hero__title {
  font-size: 4rem;
}
.hero__btn {
  display: flex;
  margin-top: 1rem;
}
